# Reddit API Keys
secret.json

# Data folder
*.json
*.zip
filtered_data/split_data/
filtered_data/filtered_data.txt
filtered_data/split_data_single/
filtered_data/embed_data.txt
filtered_data/filtered_data.txt

__pycache__/
filtered_data2/